{% load static %}
<html>
    <head>
        <title>myForum</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/myforum.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
        <script src = "/scripts/jquery.min.js"></script>
        <script src = "/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="page-header">
        <h1><a href="/">myForum</a></h1>
      </div>
      <div class = "page-header">
        <nav class="navbar navbar-light bg-light" style = "background-color:#2F4F4F;">
          {% if user.is_authenticated %}
              <a class="btn btn-default top-menu" href="{% url 'post_new' %}" data-toggle="tooltip" title="create new post" ><span class="glyphicon glyphicon-plus"></span></a>
              <a class="btn btn-default top-menu" href="{% url 'post_new' %}" data-toggle="tooltip" title="my profile"><span class="glyphicon glyphicon-user"></span></a>
              <a class="btn btn-default" href="{% url 'logout_view' %}">Logout</a>
          {% else %}
            <a class="btn btn-default" href="{% url 'user_signup' %}">SignUp</a> Or
            <a class="btn btn-default" href="{% url 'login_view' %}">Login</a>
          {%  endif %}
          <form class="form-inline">
            <input class="form-control mr-sm-2" id = "form-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
      </div>
      <div class="content container">
          <div class="row post">
              {% block content %}
              {% endblock %}
          </div>
      </div>

      <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
      </script>

  </body>
</html>
