{% extends 'myforum/base.html' %}
{% block content %}
  <div class="col-sm-8">
    {% for post in posts %}

            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatewords:100|linebreaksbr }}</p>
    {% empty %}
        <p>No posts yet :(</p>
    {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class = "user-list">
        <ul class = "list-group">
            <li class = "list-group-item">
               <h2 class = "list-group-item-heading">User List</h2>
               {% for user in users %}
               <h4><a href="#">{{ user.username }}</a></h4>
               {% endfor %}
            </li>
        </ul>
      </div>
    </div>
{% endblock %}
