{% extends 'myforum/base.html' %}

{% block content %}
  <div class="col-sm-8">
    <div class = "post">
      <h2>New post</h2>
      <form method="POST" class="post-form">{% csrf_token %}
          {{ form.as_p }}
          <div>
            <button type="submit" class="save btn btn-default">Save</button>
          </div>
      </form>
    </div>
    {% if attack_prob %}
    <div>
      {{ attack_prob }}
    </div>
    {% endif %}
  </div>
  <div class="col-sm-4">
    <div class = "post rules">
      <h3> We are very strict about the rules </h3>
  </div>
{% endblock %}
